@charset "UTF-8";

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body > header{
    width: 100%;
    height: 130px;
    background-color: rgb(199, 199, 199);
    box-shadow: 1px 2px 5px rgba(173, 173, 173, 0.575);
}

body > header > .cabecalho{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

body > header > .cabecalho > .logo_header{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > header > .cabecalho > .logo_header > img{
    width: 55%;
    cursor: pointer;
    transition: 0.8s;
}

body > header > .cabecalho > .logo_header > img:hover{
    transform: scale(1.1);
}

body > header > .cabecalho > .barra_pesquisa{
    width: 50%;
    display: flex;
    align-items: center;
}

body > header > .cabecalho > .barra_pesquisa > input{
    width: 75%;
    height: 45%;
    border-radius: 20px 0px 0px 20px;
    border: none;
    box-shadow: 1px 2px 3px rgba(33, 33, 33, 0.384);
    padding: 3%;
}

body > header > .cabecalho > .barra_pesquisa > .div_lupa{
    width: 10%;
    height: 47%;
    background-color: #ffffff;
    border-radius: 0px 20px 20px 0px;
    border: none;
    box-shadow: 1px 2px 3px rgba(33, 33, 33, 0.384);
}

/* estilizando o nav*/

body > header > nav{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

body > header > nav > .butoes_nav{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 1s;
}

body > header > nav > .butoes_nav > button{
    width: 15%;
    height: 100%;
    margin-left: 1%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(233, 233, 233);
    transition: 0.7s;
    cursor: pointer;
}

body > header > nav > .butoes_nav > button:hover{
    background-color: rgb(145, 145, 145);
    transform: scale(1.1);
}

/* Estilos do botão dark mode */
body > header > nav > .butoes_nav > .dark_mode {
    width: 15%;
    height: 100%;
    margin-left: 1%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(137, 137, 137);
    display: flex;
}

body > header > nav > .butoes_nav > .dark_mode > .p_dark_mode {
    width: 50%;
    height: 100%;
    text-align: center;
}

body > header > nav > .butoes_nav > .dark_mode > .button_dark_mode {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > header > nav > .butoes_nav > .dark_mode > .button_dark_mode > .bnt_dark {
    width: 80px;
    height: 35px;
    border: 3px solid #fff;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

body > header > nav > .butoes_nav > .dark_mode > .button_dark_mode > .bnt_dark:before {
   content: '';
   position: absolute;
   width: 28px;
   height: 28px;
   background-color: white;
   border-radius: 50%;
   top: 50%;
   left: 3px;
   transform: translateY(-50%);
   transition: left 0.3s ease;
}

/* Mover a bolinha para a direita quando ativado */
body > header > nav > .butoes_nav > .dark_mode > .button_dark_mode > .bnt_dark.active:before {
    left: calc(100% - 31px);
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

main > form{
    width: 500px;
    height: 530px;
    background-color: white;
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgba(173, 173, 173, 0.753);
    font-size: 22px;
    font-weight: 500;
}

main > form > p{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    margin-top: 4%;
}

main > form > label{
    margin-top: 4%;
    margin-left: 2%;
}

main > form > input{
    width: 80%;
    height: 8%;
    margin: 2%;
    border: none;
    border-radius: 20px;
    box-shadow: 1px 2px 5px rgba(173, 173, 173, 0.753);
    padding: 2%;
}

main > form > .enviar{
    font-size: 23px;
    font-weight: bold;
    transition: 0.4s;
}

main > form > .enviar:hover{
    transform: scale(1.1);
}

main > form > .mensagem{
    width: 80%;
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 16px;
}

body > footer{
    width: 100%;
    background-color: rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
}

body > footer > .divisao_footer{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
}

body > footer > .divisao_footer > .localizacao{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}

body > footer > .divisao_footer > .localizacao > button{
    width: 35%;
    height: 30%;
    border-radius: 20px;
    border: none;
    margin: 1%;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    transition: 0.7s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

body > footer > .divisao_footer > .localizacao > button:hover{
    background-color: rgb(114, 114, 114);
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

body > footer > .divisao_footer > .localizacao > button > img{
    width: 20%;
    height: 70%;
}

body > footer > .divisao_footer > .entre_contato{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    padding: 1%;
}

body > footer > .divisao_footer > .entre_contato > button{
    width: 35%;
    height: 30%;
    border-radius: 20px;
    border: none;
    margin: 1%;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    transition: 0.7s;
    cursor: pointer;
}

body > footer > .divisao_footer > .entre_contato > button:hover{
    background-color: rgb(114, 114, 114);
    transform: scale(1.1);
    color: white;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
}

body > footer > .divisao_footer > .compartilhe{
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1%;
}

body > footer > .divisao_footer > .compartilhe > a > img{
    width: 50px;
    height: 50px;
    padding: 5px;
    transition: 0.7s;
    cursor: pointer;
}

body > footer > .divisao_footer > .compartilhe > a > img:hover{
    transform: scale(1.1);
}

body > footer > .divisao_footer2{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > footer > .divisao_footer2 > .cartoes{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

body > footer > .divisao_footer2 > .cartoes > img{
    width: 9%;
    height: 55%;
    padding-left: 10px;
}
