@charset "UTF-8";

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100vh;
}

body > header{
    width: 100%;
    height: 150px;
    background-color: rgb(199, 199, 199);
    margin: 2px;
}

body > header > .cabecalho{
    width: 100%;
    height: 65%;
    display: flex;
}

body > header > .cabecalho > .logo{
    width: 33%;
    height: 100%;
}

body > header > .cabecalho > .barra_pesquisa{
    width: 33%;
}

body > header > .cabecalho > .barra_pesquisa > input{
    width: 100%;
    height: 45%;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 2px 3px rgba(33, 33, 33, 0.384);
    padding: 3%;
}

body > header > .cabecalho > .lupa{
    width: 33%;
}

/* estilizando o nav*/

body > header > nav{
    width: 100%;
    height: 35%;
    display: flex;
    background-color: aqua;
}

body > header > nav > .categorias{
    width: 20%;
    height: 100%;
}

body > header > nav > .botoes_nav{
    width: 80%;
    background-color: black;
}

body > header > nav > .botoes_nav > button{
    height: 100%;
}

main{
    width: 100%;
    background-color: rgb(184, 184, 184);
}

/*estilizando carrossel*/
.carrossel{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 100%;
    height: 400px;
    display: flex;
}

.slides > input{
    display: none;
}

.slide{
    width: 20%;
    position: relative;
    transition: 2s;
}

.slide > img{
    width: 800px;
}

.manual-navetaion{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-bnt{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-bnt:not(:last-child){
    margin-right: 40px;
}

.manual-bnt:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navitaion-auto > div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navigation-auto > div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: white;
}
/* Fim do estilo do carrossel*/
