@charset "UTF-8";

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body > header{
    width: 100%;
    height: 130px;
    background-color: rgb(199, 199, 199);
    margin: 2px;
}

body > header > .cabecalho{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

body > header > .cabecalho > .logo_header{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > header > .cabecalho > .logo_header > img{
    width: 55%;
}

body > header > .cabecalho > .barra_pesquisa{
    width: 50%;
    display: flex;
    align-items: center;
}

body > header > .cabecalho > .barra_pesquisa > input{
    width: 75%;
    height: 45%;
    border-radius: 20px 0px 0px 20px;
    border: none;
    box-shadow: 1px 2px 3px rgba(33, 33, 33, 0.384);
    padding: 3%;
}

body > header > .cabecalho > .barra_pesquisa > .div_lupa{
    width: 10%;
    height: 47%;
    background-color: #ffffff;
    border-radius: 0px 20px 20px 0px;
    border: none;
    box-shadow: 1px 2px 3px rgba(33, 33, 33, 0.384);
}

/* estilizando o nav*/

body > header > nav{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
}

body > header > nav > .categorias{
    width: 20%;
    height: 100%;
    background-color: rgb(56, 38, 38);
    display: flex;
    flex-direction: row;
}

body > header > nav > .categorias > .detalhes_nav{
    width: 30%;
}

body > header > nav > .categorias > .p_nav{
    width: 70%;
}

body > header > nav > .categorias > .p_nav > p{
    text-align: center;
}

body > header > nav > .categorias > .p_nav > ul{
    display: none;

}

body > header > nav > .butoes_nav{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body > header > nav > .butoes_nav > button{
    width: 20%;
    height: 100%;
    margin-left: 1%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
}

/* Estilos do botão dark mode */
body > header > nav > .butoes_nav > .dark_mode {
    width: 20%;
    height: 100%;
    margin-left: 1%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(137, 137, 137);
    display: flex;
}

body > header > nav > .butoes_nav > .dark_mode > .p_dark_mode {
    width: 50%;
    height: 100%;
    text-align: center;
}

body > header > nav > .butoes_nav > .dark_mode > .button_dark_mode {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body > header > nav > .butoes_nav > .dark_mode > .button_dark_mode > .bnt_dark {
    width: 80px;
    height: 35px;
    border: 3px solid #fff;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

body > header > nav > .butoes_nav > .dark_mode > .button_dark_mode > .bnt_dark:before {
   content: '';
   position: absolute;
   width: 28px;
   height: 28px;
   background-color: white;
   border-radius: 50%;
   top: 50%;
   left: 3px;
   transform: translateY(-50%);
   transition: left 0.3s ease;
}

/* Mover a bolinha para a direita quando ativado */
body > header > nav > .butoes_nav > .dark_mode > .button_dark_mode > .bnt_dark.active:before {
    left: calc(100% - 31px);
}


main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carrossel{
    background-color: black;
}

body > main > section{
    background-color: aqua;
    margin: 2% 10%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

body > main > section > .titulo_section{
    width: 100%;
    height: 10%;
    background-color: rgb(144, 144, 144);
}

body > main > section> .conteudo_article{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
}

body > main > section> .conteudo_article > article{
    width: 28%;
    height: 88%;
    margin: 1.5%;
    background-color: rgb(227, 59, 59);
    display: flex;
    flex-direction:column;
    align-items: center;
}

body > main > section> .conteudo_article > article > img{
    width: 95%;
    height: 80%;
    background-color: black;
}

body > footer{
    width: 100%;
    background-color: rgb(124, 124, 202);
    display: flex;
    flex-direction: column;
}

body > footer > .divisao_footer{
    width: 100%;
    height: 150px;
    background-color: azure;
    display: flex;
    flex-direction: row;
}

body > footer > .divisao_footer > .localizacao{
    width: 33%;
    height: 100%;
    background-color: aqua;
}

body > footer > .divisao_footer > .entre_contato{
    width: 33%;
    height: 100%;
    background-color: rgb(55, 255, 255);
}

body > footer > .divisao_footer > .compartilhe{
    width: 34%;
    height: 100%;
    background-color: rgb(117, 255, 255);
}

body > footer > .divisao_footer2{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 115, 115);
}

